
| Date  | Function                                | Priority | Description                                  | Input     | Expected Results                                                | Status    |Comment                   |
| --- | --------------------------------------- | -------- |------------------------------------------------------------------------------------------ | ------ | --------------------------------- | --------- | ----------------------------------------------------------------------------------------------------------------- |
| 01/01/1970 | printf("Hello World) | HIGH | check function works | run the program | displays "Hello World" | Passed | The function works perfectly |

**Date**<br>
Set the date when the bug has been discovered.

**Function**<br>
The name of the function/piece of code that has been tested.

**Priority**<br>
The priority level of the test case (High, Medium, Low)

**Description** <br>
A clear and concise description of what the test deals with.

**Input**<br>
Conditions applied during testing, add some steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected results**<br>
A clear and concise description of what you expected to happen.

**Status:**<br> 
The current status of the test case (Passed, Failed, In Progress, Not Implemented).

**Comment**<br>
Add any other context about the problem here (recommended for 'Failed' and 'In Progress' status).