
| ID | Date  |  Priority | Description                                  | Steps     | Expected Results                                                | Status    |Comment                   |
| -- | --- | -------- |------------------------------------------------------------------------------------------ | ------ | --------------------------------- | --------- | ----------------------------------------------------------------------------------------------------------------- |
| 01/001 | 01/01/1970 | HIGH | check function works | run the program | displays "Hello World" | Passed | The function works perfectly |

**ID**<br>
The ID of the test case. It will follow a certain pattern: 
- The first numbers are the version of the tested product -> `01`/001
- The last numbers are the number of the test -> 01/`001`

**Date**<br>
Set the date when the bug has been discovered.

**Priority**<br>
The priority level of the test case (High, Medium, Low)

**Description** <br>
A clear and concise description of what the test deals with. If the Priority is 'High', the tester needs to precise what the piece of code that has been tested is.

**Steps**<br>
Conditions applied during testing, add some steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected results**<br>
A clear and concise description of what you expected to happen.

**Status:**<br> 
The current status of the test case (Passed, Failed, In Progress, Not Implemented).

**Comment**<br>
Add any other context about the problem here (recommended for 'Failed' and 'In Progress' status).

## You can go the [spreadsheet](https://docs.google.com/spreadsheets/d/1d-gDcUtc-J6af9MfQXIPr_xVtwP7XKyHaRIFd1-BpWI/edit?usp=sharing) where the test reports will be first documented.